.TopNavBar{
    background-color:  #373f50 !important;
    color:  rgba(255,255,255,0.65);
    width: 100%;
    height: 41.7px;
    display: flex;
    flex-direction: row;

}
.TopNavBar img{
    padding: 7px;
width: 25px;
height: 25px;
}
.TopNavBar .USA_Canada{
    width: 250PX;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}
.TopNavBar .USA_Canada p{
    font-display: 10px;
    font-size: 14px;
    font-family:"Rubik",sans-serif ;
    font-weight: 400;
}
.vl{
    border-left: 1px solid rgb(15, 9, 9);
    border-width:2px ;
}
.TopNavBar .globe_icon{
    width: 250PX;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}
.TopNavBar .globe_icon p{
    font-display: 10px;
    font-size: 14px;
    font-family:"Rubik",sans-serif ;
    font-weight: 400;
}

.TopNavBar .socialmeda_icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: 10px;
    -ms-text-kashida-space: 10%;
}
.TopNavBar .socialmeda_icons .icons {
    margin: 10PX;

    color: white;
  }
  
  /* Twitter */
  .TopNavBar .socialmeda_icons.fa-twitter {
    margin: 100PX;
    background: #55ACEE;
    color: white;
  }
  